/* breakpoints */
$phoneBp: 640px;
$tabletBp: 768px;
$desktopBp: 1024px;

/* colors */
$borderColor: #c8cacc;
$highlightBackgroundColor: #f2f2f2;
$siteColor: #964396;
$textColor: #2a2d31;

/* layouts */
$headerHeight: 80px;
